extends ../layout/common
block content
    h1 listBooks
    hr
    style.
      th,td{
      border: 1px soild black;
      text-align:center;
      }
      table{
        width: 500px;
      }
    table.table
          tr
            th TITLE
            th IMAGE
            th DESCRIPTION  
            th AMOUNT
            th RENT
          each book in books   
            tr
              td=book.title
              td
                img(src=book.coverUrl, alt="", width="40")
              td=book.description
              td=book.sl
              td
                a(href='/cart/trans/'+book.id ).btn.btn-success RENT
//-   nav(aria-label='...')
//-       ul.pagination
//-           li.page-item.disabled
//-           a.page-link(href="?page"+"="+(listPage[1]-1) tabindex='-1') Previous
//-           li.page-item
//-           a.page-link(href="?page"+"="+listPage[0])=listPage[0]
//-           li.page-item.active
//-           a.page-link(href="?page"+"="+listPage[1])=listPage[1]
//-               span.sr-only(current)
//-           li.page-item
//-           a.page-link(href="?page"+"="+listPage[2])=listPage[2]
//-           li.page-item
//-           a.page-link(href="?page"+"="+(listPage[1]+1)) Next